project_1/*.xpr
project_1/project_1.cache/*
project_1/project_1.hw/*
project_1/project_1.ip_user_files/*
project_1/project_1.sim/*
project_1/project_1.runs/*
project_1/project_1.srcs/sources_1/bd/design_1/common/*
project_1/project_1.srcs/sources_1/bd/design_1/hw_handoff/*
project_1/project_1.srcs/sources_1/bd/design_1/ip/*
project_1/project_1.srcs/sources_1/bd/design_1/ipshared/*
project_1/project_1.srcs/sources_1/bd/design_1/sim/*
project_1/project_1.srcs/sources_1/bd/design_1/synth/*
project_1/project_1.srcs/sources_1/bd/design_1/ui/*
project_1/project_1.srcs/sources_1/bd/design_1/*.xdc
project_1/project_1.srcs/sources_1/bd/mref/*git


